.banner {
  background-color: var(--mainlight);
  color: #fff;
}

.title {
  padding: 1.5rem;
}
.title p {
  font-size: 14px;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.wave .shapeFill {
  fill: #00bceb;
}
